@font-face {
	font-family: 'Roboto Bold';
	src:url(../fonts/Roboto-Bold.ttf);
}
@font-face {
	font-family: 'Roboto Medium';
	src:url(../fonts/Roboto-Medium.ttf);
}
@font-face {
	font-family: 'Roboto Regular';
	src:url(../fonts/Roboto-Regular.ttf);
}
body {
	font-size: 16px;
	line-height: 24px;
	color: #454c51;
	font-weight: 300;
	font-family: 'Roboto Regular', sans-serif;
	margin: 0;
}
.title {
	font-size: 55px;
	line-height: 55px;
	color: black;
	font-weight: 500;
	font-family: 'Roboto Medium', sans-serif;
	margin-top: 0;
}
li {
	list-style-type: none;
}
.index-content-title {
	font-size: 45px;
	line-height: 45px;
	color: black;
	font-weight: 800;
	font-family: 'Roboto Bold', sans-serif;
}
a {
	text-decoration: none;
	color: #000;
}
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}
.main-header,
.header {
	background-color: #eeeeee;
}
.header-wrap {
	padding-top: 43px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-navigation {
	width: 860px;
}
.main-navigation a:hover {
	color: #fb565a;
}
.main-navigation a:active {
	color: #a6a6a6;
}
.main-list {
	display: flex;
	justify-content: center;
	list-style-type: none;
}
.main-list li {
	padding-right: 25px;
	padding-left: 25px;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 16px;
}
.user-block {
	width: 160px;
}
.user-block a:hover {
	color: #fb565a;
}
.user-block a:active {
	color: #a6a6a6;
}
.cart {
	position: relative;
}
.cart::before {
	content: "";
	position: absolute;
	top: 3px;
  left: -35px;
	width: 18px;
  height: 18px;
	background: url("../img/cart-icon.png") no-repeat;
	opacity: 0.3;
}
.user-list {
	list-style-type: none;
}
.user-list li {
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Roboto Medium', sans-serif;
}
.slider {
	width: 1200px;
	height: 425px;
	position: relative;
	margin: auto;
}
.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}
.slide {
	min-width: 1200px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.slider-controls {
	position: absolute;
  bottom: 95px;
  left: 50%;
  width: 100px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
	display: flex;
	justify-content: space-around;
}
.slider-controls label {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 3px;
	background: white;
	border: 3px solid white;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
	background: #c1c1c1;
}
.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.slide-text {
	width: 380px;
	padding: 30px 0;
	color: #283136;
}
.slide-title {
	font-size: 36px;
	line-height: 1;
	font-weight: bold;
	color: black;
}
.slide .btn {
	display: block;
	width: 240px;
	padding: 10px 0;
	margin-top: 25px;
	font-size: 12px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	background: #fb565a;
	border-radius: 3px;
}
.slide:nth-child(1) {
	background-image: url('../img/nerds-index-slide1.png');
	background-repeat: no-repeat;
	background-position: 100% 10px;
}
.slide:nth-child(2) {
	background-image: url('../img/nerds-index-slide2.png');
	background-repeat: no-repeat;
	background-position: 100% 10px;
}
.slide:nth-child(3) {
	background-image: url('../img/nerds-index-slide3.png');
	background-repeat: no-repeat;
	background-position: 100% 10px;
}
.slide {
	display: none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) { 
	display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
	display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
	display: block;
}
.features {
	height: 500px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #fff;
}
.features-item {
	width: 300px;
	margin-right: 100px;
}
.features-image {
	width: 300px;
	height: 145px;
}
.features-image-1 {
	background-image: url(../img/illustration-1.png);
}
.features-image-2 {
	background-image: url(../img/illustration-2.png);
}
.features-image-3 {
	background-image: url(../img/illustration-3.png);
}
.features p {
	margin-top: 0;
	margin-bottom: 0;
	min-width: 120px;
}
.features .features-name {
	font-family: 'Roboto Bold', sans-serif;
	font-size: 24px;
	color: #000;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 25px;
}
.btn {
	text-transform: uppercase;
	color: #fff;
	font-family: 'Roboto Medium', sans-serif;
	display: inline-block;
	width: 160px;
	padding-top: 18px;
	padding-right: 10px;
	padding-bottom: 18px;
	padding-left: 10px;
	margin-top: 40px;
	text-align-last: center;
	border-radius: 2px;
}
.btn-red {
	background-color: #fb565a;
}
.btn-green {
	background-color: #00ca74;
}
.btn-yellow {
	background-color: #efc84a;
}
.index-content {
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	padding-bottom: 75px;
	background-color: #fff;
	border-top: 2px solid #eeeeee;
}
.index-content-left {
	width: 680px;
}
.index-content-right {
	width: 360px;
}
.index-content-desc {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 24px;
	color: black;
	font-family: 'Roboto Bold', sans-serif;
	padding-top: 38px;
	min-width: 360px;
	min-height: 163px;
}
.rate {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #c6c8c9;
	min-width: 200px;
	min-height: 80px;
	text-align: left;
	padding-left: 0px;
}
.rate li {
	color: #000000;
	font-size: 45px;
	font-weight: bold;
	text-align: left;
	margin-right: 15px;
}
.rate li:last-child {
	margin-right: 0;
}
.rate-text  {
	line-height: 18px;
	margin-top: 15px;
	color: #454c51;
	font-size: 14px;
	font-weight: 100;
	display: flex;
	text-transform: capitalize;
	margin-left: auto;
	text-align: left;
}
.preview li {
	position: relative;
	list-style-type: none;
	line-height: 46px;
}
.preview li::before {
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	content: '';
	top: 20px;
	left: -40px;
}
.index-content-left p:nth-child(3) {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 24px;
	color: black;
	font-family: 'Roboto Bold', sans-serif;
	padding-top: 24px;
}
.partners-logo {
	display: flex;
	justify-content: space-around;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	margin-bottom: 80px;
}
.partners-logo img {
	opacity: 0.2;
}
.main-title {
	height: 240px;
	background-color: #eeeeee;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-title .title {
	text-align: center;
}
.content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.sidebar {
	width: 300px;
}
.sidebar-item-wrap {
	display: flex;
	flex-direction: column;
}
.content-wrap {
	width: 800px;
}
.filter {
	display: flex;
	justify-content: space-between;
}
.filter-list {
	display: flex;
	justify-content: flex-start;
	list-style-type: none;
	padding-left: 0;
}
.filter-list li {
	padding-right: 25px;
}
.goods-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.goods-item {
	width: 360px;
}
.footer {
	position: relative;
}
.footer-contacts {
	width: 319px;
	height: 308px;
	padding-left: 60px;
	padding-right: 60px;
	box-sizing: border-box;
	background-color: #fff;
	position: absolute;
	top: 52px;
	left: 140px;
}
.contact-text {
	font-family: 'Roboto Regular', sans-serif;
	color: #666666;
}
.contacts-title {
	font-family: 'Roboto Bold', sans-serif;
	font-size: 18px;
	color: #000;
	margin-top: 40px;
}
.footer-contacts .btn {
	margin-top: 20px;
}
.footer-social {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 217px;
}
.footer-social-list {
	width: 260px;
	margin-right: 140px;
	display: flex;
	justify-content: space-between;
}
.social-btn {
	width: 80px;
	height: 80px;
	display: inline-block;
	background-color: #e1e1e1;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	text-indent: -9999px;
}
.social-btn-vk {
	background-image: url(../img/vk-icon.png);
}
.social-btn-fb {
	background-image: url(../img/fb-icon.png);
}
.social-btn-inst {
	background-image: url(../img/insta-icon.png);
}
.footer-sale {
	width: 560px;
}
.footer-sale-title {
	font-family: 'Roboto Bold', sans-serif;
	font-size: 36px;
	margin-bottom: 0;
}
.footer-sale-text {
	color: #444444;
}
.modal {
	display: none;
}
.logo a:hover {
	opacity: 0.8;
}
.logo a:active {
	opacity: 1;
}